<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <virtualType name="TasksUiGridGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TasksUiGridItemGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Tasks\UiGrid\Model\ResourceModel\Item\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">TasksUiGridGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Tasks\UiGrid\Model\ResourceModel\Item\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">items</argument>
            <argument name="eventPrefix" xsi:type="string">tasks_uigrid_item_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">item_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Tasks\UiGrid\Model\ResourceModel\Item</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="tasks_uigrid_item_listing_data_source" xsi:type="string">Tasks\UiGrid\Model\ResourceModel\Item\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
