<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
            <add
                id="Tasks_CostumeCache:cache"
                title="Task 14 costume cache"
                module="Tasks_CostumeCache"
                sortOrder="8"
                action="costumecache/tocostumecache/"
                resource="Tasks_CostumeCache::cache"
                parent="Tasks_Menu::main"
            />
    </menu>
</config>